<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AIP - Social Scince</title>
    <link rel="stylesheet" href="/static/styles/ack.css">
</head>
<body>
    <section>
        <div class="content">
            <h1>Acknowledgement <br> and <br> Creators</h1>
        </div>
    </section>
    <div class="body">
        <p>Through the core of our heart, We are very thankful to everyone who all supported us, for we have completed our project effectively and moreover on time. We are overwhelmed in all humbleness and grateful to acknowledge our depth to all those who helped us to put these ideas well. Equally grateful to our teacher Mrs.Sushmita Roy for giving us moral support and guidance in doing this project. It would be injustice if we do not thank our parents who helped us a lot in collecting data, pictures and continuous help and support. With their able guidance, encouragement and support, we could complete our project on time.
                 Thanking You...</p>
                 <br><br>
        <h3>Creators</h3>
        <p>Aryan Gupta</p>
        <p>Arpit Mohapatra</p>
        <p>Arpit Sharma</p>
        <p>Asmit Kumar</p>
        <a href="/climate-of-sikkim">Continue...</a>
    </div>
</body>
</html>