<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AIP - Social Science</title>
    <link rel="stylesheet" href="/static/styles/monsoon.css">
</head>
<body>
    <section>
        <h1><span id="orange">Monsoon</span> in Sikkim</h1>
    </section>
    <p>What gives us relief on a sunny day in summer?
        <br>
        Yes, it’s rain. In this slide we are going to tell you all about the monsoon cycle of Sikkim. <br>
        In Sikkim rainfall is heavy and well distributed during the months from May to early October. July is the wettest month in most of the places. The intensity of rainfall during South-West monsoon season decreases from south to North, while the distribution of winter rainfall is in the opposite order.
    </p>
    <div class="album">
        <img src="/static/images/Rain 1.jpg" alt="">
        <img src="/static/images/Rain 2.jpg" alt="">
        <img src="/static/images/Rain 3.jpg" alt="">
        <img src="/static/images/Rain 4.jpg" alt="">
        <img src="/static/images/Rain 5.jpg" alt="">
        <img src="/static/images/Rain 6.jpg" alt="">
    </div>
    <p style="margin-top: 10px;">Some examples of Sikkim's beauty during Winter</p>
    <p> The highest annual rainfall for the individual station may exceed 5000 mm. and average number of rainy days (days with gangtok rain of 2.5 mm. or more) ranges from 100 at Thangu in north Sikkim to 184 at Gangtok in east Sikkim. But, as the state follows two rainy seasons i.e Summer rain and winter rain. Due to well distributed rains Sikkim is a very well diversed state in the matter of flora and fauna.</p>
    <div class="links">
        <a href="/climate-of-sikkim">Back...</a>
    </div>
</body>
</html>