<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Climatic Beauty of Sikkim</title>
    <link rel="stylesheet" href="/static/styles/page2.css">
</head>
<body>
    <section>
        <!-- <div class="wave"></div> -->
        <div class="content">
            <h1>Climatic Beauty of Sikkim</h1>
            <img src="/static/images/logo.png" alt="">
        </div>
    </section>
    <div class="body">
        <p>Sikkim, which lies in the lap of Himalayas is one of the coldest places in the country. The Climate of Sikkim is very pleasant. There are mainly three seasons are there in Sikkim namely Summer, Winter and Rainy or Monsoon. Winter season in Sikkim usually held between month of January to March. Most areas of the state receive snowfall and get engulfed in the blanket of thick snow, thus luring tourists during the months of Winter. Snow remains till the end of March in most of the places.  Summer helds from March to April During summers , one can enjoy the blossoming of rhododendrons and orchids in Sikkim. The monsoon in Sikkim takes place during the months from May till September. Ussually July is  the wettest of all months.
        </p>
        <br>
        <div class="album">
            <div class="image">
                <img src="/static/images/Snowfall.jpg">
                <div class="hover">
                    <div class="text">Winters in Sikkim</div>
                </div>
            </div>
            <div class="image">
                <img src="/static/images/Summer.jpg">
                <div class="hover">
                    <div class="text">Summer in Sikkim</div>
                </div>
            </div>
            <div class="image">
                <img src="/static/images/monsoon.jpg">
                <div class="hover">
                    <div class="text">Monsoon in Sikkim</div>
                </div>
            </div>
        </div>
        <br><br></br>
        <h3>For further information about these seasons. Click on these icons below.</h3>
        <br><br>
        <div class="icons" style="min-width: 600px;display: flex;justify-content: space-evenly; align-items: center;">
            <a href="/winter"><img style="margin: 10px;width: 100px;height: 100px;" src="/static/images/snow.png" alt=""></a>
            <a href="/summer"><img style="margin: 10px;width: 100px;height: 100px;" src="/static/images/weather_sun.png" alt=""></a>
            <a href="/monsoon"><img style="margin: 10px;width: 100px;height: 100px;" src="/static/images/rain.png" alt=""></a>
        </div>
        <a href="/">Back</a>
    </div>

</body>
</html>