<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AIP - Social Science</title>
    <link rel="stylesheet" href="/static/styles/summer.css">
</head>
<body>
    <section>
        <h1><span id="orange" style="color: orange;text-shadow-color: red;">Summer</span> in Sikkim</h1>
    </section>
    <p>Summer in Sikkim aren't as harsh as everywhere else in India. During this season, the weather
        remains pleasant, thus making it the best time to visit Sikkim for certain parts of the state.
        During this time, one can also enjoy the flower festival. Summer is warm and moderate and is
        the ideal season. The average daytime temperature is 5°C to 25°C.</p>
    <div class="album">
        <img src="/static/images/Summer Pic $.jpg" alt="">
        <img src="/static/images/Summer pic 2.jpg" alt="">
        <img src="/static/images/Summer Pic 3.jpg" alt="">
        <img src="/static/images/Summer Pic 5.jpg" alt="">
        <img src="/static/images/Summer Pic 6.jpg" alt="">
    </div>
    <p style="margin-top: 10px;">Some examples of Sikkim's beauty during Winter</p>
    <p>During summer season, the weather remains pleasant, thus, making it the best time to visit Sikkim for certain parts of the state. During this month a  world famous Flower Festival is held here. One can enjoy the blossoming of rhododendrons and orchids in Sikkim which is the main tourist attraction.  Summer is warm and moderate and is the ideal season for trekking on mountains. Summer is one of the ideal season to visit Sikkim. </p>
    <div class="links">
        <a href="/climate-of-sikkim">Back...</a>
    </div>
</body>
</html>