<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Art Integrated Project - Social Science</title>
    <link rel="stylesheet" href="/static/styles/title_page.css">
</head>

<body>
    <section>
        <div class="wave"></div>
        <div class="heading">
            <h1>Climatopedia o' Sikkim</h1>
            <p>An Encyclopedia of Sikkim's Climate</p>
        </div>
    </section>
    <div class="body">
        <div class="content">
            <h2 style="width: 100%; text-align: left;">Intro...</h2>
            <p>Sikkim is a state in northeastern India. It shares borders with China in the north and northeast, Bhutan
                in the east, Nepal in the west, and West Bengal in the south. Sikkim is the least populous and second
                smallest states of India. Kangchenjunga, the highest peak in India and third highest on Earth locates in
                this state. Its capital is Gangtok, which is also its largest city. The famous Kanchunjenga National
                Park is one of the biggest tourism attraction of Sikkim. Sikkim is one of the most beautiful state of
                India in field of Nature.</p>
            <div class="album">
                <div class="image">
                    <img src="/static/images/buddha park.jpg" alt="">
                    <div class="hover">
                        <div class="text">Buddha Park of Sikkim</div>
                    </div>
                </div>
                <div class="image">
                    <img src="/static/images/Kanchanjunga.jpg" alt="">
                    <div class="hover">
                        <div class="text">Mt. Kanchanjunga</div>
                    </div>
                </div>
                <div class="image">
                    <img src="/static/images/redpanda.jpg" alt="">
                    <div class="hover">
                        <div class="text">Red Panda (State animal of sikkim)</div>
                    </div>
                </div>
                <div class="image">
                    <img src="/static/images/Sikkim Map.png" alt="">
                    <div class="hover">
                        <div class="text">Map of Sikkim</div>
                    </div>
                </div>
                <p>Hover on any image to see its name.</p>
                <div class="image">
                    <img src="/static/images/State Bird of Sikkim.jpg" alt="">
                    <div class="hover">
                        <div class="text">Blood Pheasant (State bird of Sikkim)</div>
                    </div>
                </div>
            </div>
            <h2>Origin of Sikkim</h2>
            <img id="ajeeb_wale_ki_photo" src="/static/images/ajeeb_naam_wala_raja.jpg" alt="">
            <div class="info">
                <p style="text-align: center;margin: 0;margin-top: 20px;">Chogyal Phuntsog Namgyal</p>
                <p style="text-align: center;margin: 0;margin-bottom: 40px;">(Prince of Sikkim, from 1642 till 1670)</p>
            </div>
            <img src="/static/images/ajeeb_naam_wale_ka_mahal.jpg" id="ajeeb_ghar" alt="">
            <p>Chogyal's Royal Palace</p>
            <p>The Kingdom of Sikkim was founded by the Namgyal dynasty in the 17th century. It was ruled by Buddhist
                priest-kings known as the Chogyal. In 1642, Chogyal Phuntsog Namgyal was crowned as Sikkim's first ruler
                in Yuksom. It became a princely state of British India in 1890. Following Indian independence, Sikkim
                continued its territory status with the Union of India after 1947, and the Republic of India after 1950.
                In 1975, after the Indian Army took over the city of Gangtok, Sikkim agreed for joining India as its
                22nd state.</p>
        </div>
        <a href="/acknowledgement">Continue...</a>
    </div>
</body>

</html>