<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AIP - Social Science</title>
    <link rel="stylesheet" href="/static/styles/winter.css">
</head>
<body>
    <section>
        <h1>Winter in Sikkim</h1>
    </section>
    <p>The winter season in Sikkim is charming and perfect for vacation as the whole area is
        covered in snow. Most areas of the state receive Snowfall and get engulfed in the blanket of
        thick snow, thus luring tourists. During November, even though it doesn't snow, the temperature
        is quite appropriate for sightseeing. The average daytime temperature is -5°C to 7°C.
    </p>
    <div class="album">
        <img src="/static/images/Winter Pic 1.jpg" alt="">
        <img src="/static/images/Winter Pic 2.jpg" alt="">
        <img src="/static/images/Winter Pic 3.jpg" alt="">
        <img src="/static/images/Winter Pic 4.jpg" alt="">
        <img src="/static/images/Winter 5.jpg" alt="">
        <img src="/static/images/Winter Pic 6.jpg" alt="">
    </div>
    <p style="margin-top: 10px;">Some examples of Sikkim's beauty during Winter</p>
    <p>Sikkim Is best know for its snowfall in winter. One can feel the festivity everywhere, on the streets, in the market, even in the monasteries. A great number of festivals are celebrated during the months of winter. Almost all the regions of sikkim are covered with a thick layer of snow. The Snowfall of Sikkim increases the beauty of Sikkim. </p>
    <div class="links">
        <a href="/climate-of-sikkim">Back...</a>
    </div>
</body>
</html>