@import url('https://fonts.googleapis.com/css2?family=Langar&display=swap');

body{
    display: flex;
    justify-content: center;
    font-family: 'Langar', cursive;
background: linear-gradient(#43cea2 , #185a9d);
    align-items: center;
    height: 100vh;
    color: white;
    font-size: 3em;
    flex-direction: column;
}